:root {
  -webkit-text-size-adjust: none;
  --inset-left: env(safe-area-inset-left, 0);
  --inset-right: env(safe-area-inset-right, 0);
  --inset-top: env(safe-area-inset-top, 0);
  --inset-bottom: env(safe-area-inset-bottom, 0);
  --tools-width: 150px;
  --tools-height: 60px;
  --blue-color: #027aff;
  --bg1-half: #e5e5eacc;
  --bg1: #e5e5ea;
  --bg2: #e5e5ea;
  --bg3: #d1d1d6;
}

html {
  background-color: #f2f2f7;
  transition: background-color 0.3s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: auto;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #000;
  text-align: center;
  transition: color 0.3s;
}

label,
select {
  -webkit-user-select: none;
  user-select: none;
}

#intro-area p {
  margin: 28px 20px;
}

#setup-form,
#new-room-form {
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    margin: 10px 4px;
  }
}

#room-area {
  &.no-existing-room {
    #choose-room-area {
      display: none;
    }
  }
}

.pop-up-area {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 15;
  width: max-content;
  margin: auto;
  overflow: auto;

  & > .pop-ups {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    & > .pop-up {
      background: var(--bg1);
      transition: background-color 0.3s, height 0.3s, box-shadow 0.3s;
      border-radius: 10px;
      padding: 6px;
      margin: 3px 10px;
      box-shadow: #bbb 0 0 7px;

      & > * {
        margin: 2px;
      }

      span {
        display: inline-block;
      }

      input[type="button"] {
        padding: 5px 10px;
      }
    }
  }

  &:not(.confirming) {
    .confirming-dialog {
      display: none;
    }
  }

  &:not(.reporting) {
    .reporting-dialog {
      display: none;
    }
  }

  &:not(.confirming):not(.reporting) {
    display: none;
  }
}

#main-area {
  position: fixed;
  top: 0;
  left: var(--inset-left);
  bottom: var(--tools-height);
  right: var(--inset-right);
  padding-top: var(--inset-top);
  transition: bottom 0.3s;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;

  #stream-area {
    width: 100%;
    height: 100%;
    overflow: auto;

    #streams {
      width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      -webkit-user-select: none;
      user-select: none;

      & > .stream {
        width: calc(var(--each-width) - 8px);
        height: calc(var(--each-height) - 8px);
        box-sizing: border-box;
        margin: 4px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg1);
        transition: background-color 0.3s;
        cursor: help;

        &#capture-div {
          border: solid 4px #fc0;
        }

        & > .username {
          display: flex;
          align-items: center;
          word-break: break-word;
          white-space: break-spaces;
          font-size: calc(var(--each-width) / 25 + 1em);
          margin: 10px;
          transition: background-color 0.3s;

          & > * {
            margin: 0;
            padding: 0;

            &.mic-indicator {
              flex-shrink: 0;
              display: none;
              width: calc((var(--each-width) / 25 + 1em) * 0.3);
              height: calc((var(--each-width) / 25 + 1em) * 0.3);
              line-height: calc((var(--each-width) / 25 + 1em) * 0.3);
              border-radius: 100%;
              background: #f43;
              margin-right: calc((var(--each-width) / 25 + 1em) * 0.15);
            }

            &.connecting-text {
              display: none;
            }
          }
        }

        & > video {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: none;
        }

        & > audio {
          display: none;
        }

        &.connecting {
          & > .username {
            & > .mic-indicator {
              display: none;
            }

            & > .username-text {
              display: none;
            }

            & > .connecting-text {
              display: block;
            }
          }
        }

        &.video-ready {
          & > .username {
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 1em;
            margin: 0;
            padding: 6px 10px;
            background: var(--bg1-half);
            z-index: 10;

            & > .mic-indicator {
              width: 0.6em;
              height: 0.6em;
              line-height: 0.6em;
              margin-right: 6px;
            }
          }

          & > video {
            display: inline;
          }
        }

        &.audio-ready {
          & > .username {
            .mic-indicator {
              display: block;
            }
          }
        }

        &.reported {
          & > .username {
            color: #f43;
            text-decoration: line-through;
          }
        }
      }
    }
  }

  #main-pop-up-area {
    top: calc(var(--inset-top) + 20px);
  }
}

#control {
  margin: 0;
  min-height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 7px calc(7px + var(--inset-right)) calc(7px + var(--inset-bottom))
    calc(7px + var(--inset-left));
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: var(--bg1);
  transition: background-color 0.3s, transform 0.3s;

  & > div {
    flex-grow: 100;
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 4px;

    &.end {
      margin: 4px;
      flex-grow: 1;

      #exit-room {
        background-color: #f43;
      }
    }

    & > div {
      display: inline-flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 4px;

      & > * {
        margin: 2px 4px;
      }
    }
  }

  * {
    max-width: calc(100vw - 16px);
  }

  span.disabled {
    opacity: 0.5;
  }
}

body.upside-down {
  #main-area {
    top: var(--tools-height);
    padding-top: 0;
    bottom: 0;
    padding-bottom: var(--inset-bottom);

    #main-pop-up-area {
      top: 20px;
    }
  }

  #control {
    top: 0;
    bottom: auto;
    padding: calc(7px + var(--inset-top)) calc(7px + var(--inset-right)) 7px
      calc(7px + var(--inset-left));
  }
}

@media (max-height: 480px) {
  body.layout-b {
    #main-area {
      top: 0;
      padding-top: var(--inset-top);
      bottom: 0;
      padding-bottom: var(--inset-bottom);
      left: var(--inset-left);
      right: calc(var(--inset-right) + var(--tools-width));
    }

    #control {
      top: 0;
      bottom: 0;
      left: auto;
      right: 0;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: var(--tools-width);
      box-sizing: content-box;
      padding: calc(7px + var(--inset-top)) calc(7px + var(--inset-right))
        calc(7px + var(--inset-bottom)) 7px;

      & > div {
        flex-direction: column;
      }

      * {
        max-width: calc(var(--tools-width) - 20px);
      }
    }

    &.home-button-left {
      #main-area {
        left: calc(var(--inset-left) + var(--tools-width));
        right: var(--inset-right);
      }

      #control {
        left: 0;
        right: auto;
        padding: calc(7px + var(--inset-top)) 7px
          calc(7px + var(--inset-bottom)) calc(7px + var(--inset-left));
      }
    }
  }
}

body.blocked {
  #main-area {
    #stream-area {
      #streams > .stream {
        cursor: not-allowed;
      }
    }
  }
}

input[type="text"] {
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  background-color: var(--bg2);
  flex-basis: 225px;
  flex-grow: 1;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

select,
input[type="submit"],
input[type="button"] {
  appearance: none;
  -webkit-appearance: none;
  font-weight: normal;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  text-overflow: ellipsis;
  box-sizing: border-box;
  flex-shrink: 1;
  word-break: break-word;
  white-space: break-spaces;
}

input[type="submit"],
input[type="button"] {
  background-color: var(--blue-color);
  color: #fff;
}

select,
input[type="submit"].subtle,
input[type="button"].subtle {
  background-color: var(--bg3);
  color: var(--blue-color);
}

select,
input[type="submit"],
input[type="button"],
button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

#generate-random {
  cursor: pointer;
  color: var(--blue-color);

  &:hover {
    text-decoration: underline;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      text-decoration: none;
    }
  }
}

html:not(.intro) #intro-area {
  display: none;
}

html:not(.setting-up) #setup-area {
  display: none;
}

html:not(.picking-room) #room-area {
  display: none;
}

html:not(.chatting) #chatting-area {
  display: none;
}

html.blocked {
  input:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

#body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding-left: var(--inset-left);
  padding-right: var(--inset-right);
  padding-top: calc(var(--inset-top) + 20px);
  padding-bottom: calc(var(--inset-bottom) + 20px);
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1-half: #1c1c1ecc;
    --bg1: #1c1c1e;
    --bg2: #2c2c2e;
    --bg3: #2c2c2e;
  }

  html {
    background-color: #1c1c1e;

    &.chatting {
      background-color: #000;
    }
  }

  body,
  input[type="text"] {
    color: #fff;
  }

  .pop-up-area {
    .pop-ups > .pop-up {
      box-shadow: #000 0 0 7px;
    }
  }
}
