:root {
  -webkit-text-size-adjust: none;
  --inset-left: env(safe-area-inset-left, 0);
  --inset-right: env(safe-area-inset-right, 0);
  --inset-top: env(safe-area-inset-top, 0);
  --inset-bottom: env(safe-area-inset-bottom, 0);
  --tools-width: 150px;
  --tools-height: 60px;
  --blue-color: #027aff;
  --bg1: #e5e5ea;
  --bg2: #e5e5ea;
  --bg3: #d1d1d6;
}

html {
  background-color: #f2f2f7;
  transition: background-color 0.3s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #000;
  text-align: center;
  transition: color 0.3s;
}

label,
select {
  -webkit-user-select: none;
  user-select: none;
}

#intro-area p {
  margin: 28px 20px;
}

#setup-form {
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    margin: 10px 4px;
  }
}

#main-area {
  position: fixed;
  top: 0;
  left: var(--inset-left);
  bottom: var(--tools-height);
  right: var(--inset-right);
  padding-top: var(--inset-top);
  overflow: scroll;
  transition: bottom 0.3s;
  -webkit-user-select: none;
  user-select: none;

  #streams {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    -webkit-user-select: none;
    user-select: none;

    & > div {
      width: var(--each-width);
      height: var(--each-height);
      box-sizing: border-box;
      margin: 2.5px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--bg1);
      cursor: help;

      & > .username {
        word-break: break-word;
        white-space: break-spaces;
        font-size: calc(var(--each-width) / 25 + 1em);
        margin: 10px;
      }

      & > video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & > audio {
        display: none;
      }
    }
  }
}

#control {
  margin: 0;
  min-height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 5px calc(5px + var(--inset-right)) calc(5px + var(--inset-bottom))
    calc(5px + var(--inset-left));
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: var(--bg1);
  transition: background-color 0.3s, transform 0.3s;

  & > div {
    flex-grow: 100;
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 4px;

    &.end {
      margin: 4px;
      flex-grow: 1;

      #exit-room {
        background-color: #f43;
      }
    }

    & > div {
      display: inline-flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 4px;

      & > * {
        margin: 2px 4px;
      }
    }
  }

  span.disabled {
    opacity: 0.5;
  }
}

body:not(.stream-ready) #my-video {
  display: none;
}

body.upside-down {
  #main-area {
    top: var(--tools-height);
    padding-top: 0;
    bottom: 0;
    padding-bottom: var(--inset-bottom);
  }

  #control {
    top: 0;
    bottom: auto;
    padding: calc(5px + var(--inset-top)) calc(5px + var(--inset-right)) 5px
      calc(5px + var(--inset-left));
  }
}

@media (max-height: 480px) {
  body.layout-b {
    #main-area {
      top: var(--inset-top);
      bottom: 0;
      padding-bottom: var(--inset-bottom);
      left: var(--inset-left);
      right: calc(var(--inset-right) + var(--tools-width));
    }

    #control {
      top: 0;
      bottom: 0;
      left: auto;
      right: 0;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: var(--tools-width);
      padding: calc(5px + var(--inset-top)) calc(5px + var(--inset-right))
        calc(5px + var(--inset-bottom)) 5px;

      & > div {
        flex-direction: column;
      }

      & * {
        max-width: calc(var(--tools-width) - 20px);
      }
    }

    &.home-button-left {
      #main-area {
        left: calc(var(--inset-left) + var(--tools-width));
        right: var(--inset-right);
      }

      #control {
        left: 0;
        right: auto;
        padding: calc(5px + var(--inset-top)) 5px
          calc(5px + var(--inset-bottom)) calc(5px + var(--inset-left));
      }
    }
  }
}

input[type="text"] {
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  background-color: var(--bg2);
  flex-basis: 225px;
  flex-grow: 1;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"],
input[type="button"],
select {
  appearance: none;
  -webkit-appearance: none;
  font-weight: normal;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

select {
  background-color: var(--bg3);
  transition: background-color 0.3s, color 0.3s;
  color: var(--blue-color);
  text-overflow: ellipsis;
  box-sizing: border-box;
  flex-shrink: 1;
}

input[type="submit"],
input[type="button"] {
  background-color: var(--blue-color);
  color: #fff;
}

select {
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"],
select,
button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

#generate-random {
  cursor: pointer;
  color: var(--blue-color);

  &:hover {
    text-decoration: underline;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      text-decoration: none;
    }
  }
}

html:not(.intro) #intro-area {
  display: none;
}

html:not(.setting-up) #setup-area {
  display: none;
}

html:not(.chatting) #chatting-area {
  display: none;
}

html.blocked {
  input:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

#body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding-left: var(--inset-left);
  padding-right: var(--inset-right);
  padding-top: var(--inset-top);
  padding-bottom: var(--inset-bottom);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #1c1c1e;
    --bg2: #2c2c2e;
    --bg3: #2c2c2e;
  }

  html {
    background-color: #1c1c1e;

    &.chatting {
      background-color: #000;
    }
  }

  body {
    color: #ddd;
  }
}
