:root {
  --inset-left: env(safe-area-inset-left, 0);
  --inset-right: env(safe-area-inset-right, 0);
  --inset-top: env(safe-area-inset-top, 0);
  --inset-bottom: env(safe-area-inset-bottom, 0);
  -webkit-text-size-adjust: none;
}

html {
  background-color: #f2f2f7;
  transition: background-color 0.3s;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #111;
  text-align: center;
  transition: color 0.3s;
  overflow: hidden;
}

input[type="color"] {
  padding: 0;
  border: none;
  border-radius: 20px;
  height: 25px;
  cursor: pointer;
  background: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ccc;
  border: none;
  border-radius: 5px;
  transition: background 0.3s;
}

input[type="reset"],
input[type="button"] {
  width: calc(1em + 20px);
  -webkit-appearance: none;
  padding: 5px 10px;
  background: #ccc;
  color: #111;
  border: none;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
  font-size: 1em;
  margin: 2px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #fff;
  border: none;
  border-radius: 16px;
  cursor: ew-resize;
  box-shadow: #3338 0 0 5px;
  transition: background 0.3s, box-shadow 0.3s;
}

#canvas-wrapper {
  cursor: crosshair;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*   pointer-events: none; */
  -webkit-user-select: none;
  user-select: none;
}

#graphics-wrapper {
  cursor: crosshair;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*   pointer-events: none; */
  -webkit-user-select: none;
  user-select: none;
}

#drawing-board {
  cursor: crosshair;
  background: #fff;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

#drawing-board-2 {
  z-index: 20;
  cursor: crosshair;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

#tools {
  min-height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 20px calc(10px + var(--inset-right)) calc(10px + var(--inset-bottom))
    calc(10px + var(--inset-left));
  box-sizing: border-box;
  flex-wrap: wrap;
}

#tools > div {
  margin: 2px 6px;
  flex-shrink: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shrink {
  max-width: 200px;
  flex: 1 0 110px;
}

span {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

#sample {
  position: absolute;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  cursor: crosshair;
  -webkit-user-select: none;
  user-select: none;
}

#sample.show {
  opacity: 1;
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1c1c1e;
  }

  body {
    color: #ddd;
  }

  input[type="range"] {
    background: #333;
  }

  input[type="range"]::-webkit-slider-thumb {
    background-color: #aaa;
    box-shadow: #aaa8 0 0 5px;
  }

  input[type="reset"],
  input[type="button"] {
    background: #333;
    color: #aaa;
  }
}
