:root {
  --inset-left: env(safe-area-inset-left, 0);
  --inset-right: env(safe-area-inset-right, 0);
  --inset-top: env(safe-area-inset-top, 0);
  --inset-bottom: env(safe-area-inset-bottom, 0);
  -webkit-text-size-adjust: none;
  --blue-color: #027aff;
  --bottom-tool-height: 56px;
  --user-header-height: 40px;
  --user-list-width: 250px;
  --tool-width: 120px;
  --secondary-bg: #e5e5ea;
  --secondary-txt: #555;
}

html {
  background-color: #f2f2f7;
  transition: background-color 0.3s;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #000;
  text-align: center;
  transition: color 0.3s;
}

video,
img {
  display: block;
}

#capture-canvas {
  display: none;
}

.break-word,
.message span,
.user span {
  word-break: break-word;
  white-space: break-spaces;
}

#intro-area p {
  margin: 28px 20px;
}

#setup-form {
  flex-wrap: wrap;
  justify-content: center;
}

#setup-form > * {
  margin: 10px 4px;
}

#generate-random,
#show-all-user,
#back-to-chat,
#stop-capture,
#retake {
  cursor: pointer;
  color: var(--blue-color);
}

#generate-random:hover,
#show-all-user:hover,
#back-to-chat:hover,
#stop-capture:hover,
#retake:hover {
  text-decoration: underline;
}

#generate-random.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#generate-random.disabled:hover {
  text-decoration: none;
}

#user-header-area {
  position: fixed;
  top: 0;
  padding-top: var(--inset-top);
  height: calc(var(--user-header-height) + var(--inset-top));
  left: 0;
  padding-left: (--inset-left);
  right: 0;
  padding-right: var(--inset-right);
  background-color: var(--secondary-bg);
  transition: background-color 0.3s;
  display: none;
  box-sizing: border-box;
}

#user-header-area > * {
  margin: 0 10px;
}

#message-area,
#user-area {
  position: fixed;
  top: var(--inset-top);
  overflow-x: hidden;
  overflow-y: auto;
}

#message-area {
  left: var(--inset-left);
  right: calc(var(--inset-right) + var(--user-list-width));
  bottom: calc(var(--bottom-tool-height) + var(--inset-bottom));
}

#user-area {
  background-color: var(--secondary-bg);
  width: calc(var(--user-list-width) + var(--inset-right));
  right: 0;
  padding-right: var(--inset-right);
  bottom: 0;
  padding-bottom: var(--inset-bottom);
  transition: background-color 0.3s;
  box-sizing: border-box;
}

#capture-area,
#transmit-area {
  position: fixed;
  top: 0;
  padding-top: var(--inset-top);
  bottom: 0;
  padding-bottom: var(--inset-bottom);
  left: 0;
  padding-left: var(--inset-left);
  right: 0;
  padding-right: var(--inset-right);
}

#capture-video,
#capture-image {
  display: fixed;
  top: var(--inset-top);
  bottom: calc(var(--inset-bottom) + var(--bottom-tool-height));
  left: var(--inset-left);
  right: var(--inset-right);
  object-fit: contain;
}

#messages,
#users {
  display: flex;
  flex-direction: column;
}

#messages {
  padding: 10px 20px;
}

#users {
  padding: 10px 15px;
}

#users > h3 {
  margin-bottom: 2px;
  text-align: start;
}

#send-form,
#capture-form,
#transmit-form {
  margin: 0;
  position: fixed;
  bottom: var(--inset-bottom);
  left: var(--inset-left);
  height: var(--bottom-tool-height);
  box-sizing: border-box;
}

#send-form {
  right: calc(var(--inset-right) + var(--user-list-width));
}

#capture-form,
#transmit-form {
  right: var(--inset-right);
}

form {
  display: inline-flex;
  justify-content: space-between;
  padding: 8px;
  margin: 0 auto;
  align-content: center;
  align-items: center;
}

form > * {
  margin: 4px;
}

#start-capture {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: none;
  color: var(--blue-color);
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2px 4px;
  font-weight: 500;
}

form input[type="text"] {
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  background-color: var(--secondary-bg);
  flex-basis: 225px;
  flex-grow: 1;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

form input[type="submit"] {
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: var(--blue-color);
  color: #fff;
}

input[type="submit"]:not(:disabled) {
  cursor: pointer;
}

#send-form input[type="text"] {
  width: 100%;
}

.message,
.user {
  margin: 5px 0;
  display: inline-flex;
}

.message {
  max-width: 90%;
  flex-direction: column;
}

.user {
  text-align: start;
  align-items: center;
  align-content: center;
}

.message.other {
  text-align: center;
  margin: 5px auto;
}

.message.sent {
  text-align: end;
  margin-left: auto;
}

.message.received {
  text-align: start;
  margin-right: auto;
}

.metadata {
  display: inline-block;
  color: var(--secondary-txt);
  transition: color 0.3s;
}

.message .metadata {
  margin: 8px;
}

.message .metadata.hidden {
  display: none;
}

.message .content {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  text-align: start;
  font-family: inherit;
  margin: 0;
  word-break: break-word;
  white-space: break-spaces;
}

.message.other .content {
  padding: 0;
  margin: auto;
  text-align: center;
}

.message.sent .content {
  background-color: var(--blue-color);
  color: #fff;
  margin-left: auto;
}

.message:not(.other) .content {
  cursor: pointer;
}

.message.received .content {
  transition: background-color 0.3s;
  background-color: var(--secondary-bg);
  margin-right: auto;
}

.user span {
  display: inline-block;
  margin: 2px 0;
}

.user .metadata {
  margin: 1px 0;
}

.user .status {
  height: 12px;
  width: 12px;
  margin-right: 9px;
  flex-shrink: 0;
  border-radius: 6px;
  box-sizing: border-box;
}

.user .status.active {
  background: #3c5;
}

.user .status.inactive {
  border: solid 2px #999;
}

.user .status.blocked {
  background: #f43;
}

.user > div {
  display: inline-flex;
  flex-direction: column;
}

body:not(.intro) #intro-area {
  display: none;
}

body:not(.setting-up) #setup-area {
  display: none;
}

body:not(.chatting) #message-area {
  display: none;
}

body:not(.chatting) #user-area {
  display: none;
}

body:not(.chatting) #send-form {
  display: none;
}

body:not(.chatting) #user-header-area {
  display: none;
}

body:not(.capturing) #capture-area {
  display: none;
}

body:not(.transmitting) #transmit-area {
  display: none;
}

body.blocked input:disabled,
body.blocked button:disabled,
body.server-blocked input:disabled,
body.server-blocked button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body.setting-up,
body.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.blocked .message:not(.other) .content,
body.server-blocked .message:not(.other) .content {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-height: 350px) {
  body.layout-b #capture-video,
  body.layout-b #capture-image {
    top: var(--inset-top);
    bottom: var(--inset-bottom);
    left: var(--inset-left);
    right: calc(var(--tool-width) + var(--inset-right));
  }

  body.layout-b.home-button-left #capture-video,
  body.layout-b.home-button-left #capture-image {
    left: calc(var(--tool-width) + var(--inset-left));
    right: var(--inset-right);
  }

  body.layout-b #capture-form,
  body.layout-b #transmit-form {
    flex-direction: column;
    top: var(--inset-top);
    bottom: var(--inset-bottom);
    left: var(--inset-left);
    width: var(--tool-width);
    right: auto;
  }

  body.layout-b.home-button-left #capture-form,
  body.layout-b.home-button-left #transmit-form {
    right: var(--inset-right);
    right: auto;
  }
}

@media (max-width: 600px) {
  #user-header-area {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;
  }

  #message-area {
    top: calc(var(--inset-top) + var(--user-header-height));
    right: var(--inset-right);
  }

  #user-area {
    top: calc(var(--inset-top) + var(--user-header-height));
    left: 0;
    padding-left: var(--inset-left);
    width: auto;
    z-index: 5;
    box-sizing: border-box;
  }

  #users {
    padding: 10px 20px;
  }

  #users > h3:first-of-type {
    margin-top: 0;
  }

  body.show-users #message-area {
    display: none;
  }

  body.show-users #send-form {
    display: none;
  }

  body.show-users #show-all-user {
    display: none;
  }

  body:not(.show-users) #back-to-chat {
    display: none;
  }

  body:not(.show-users) #user-area {
    display: none;
  }

  body.connecting.show-users #connecting-prompt {
    display: none;
  }

  body.connecting:not(.show-users) #user-header-area > span[tabindex] {
    display: none;
  }

  body:not(.connecting) #connecting-prompt {
    display: none;
  }

  #send-form {
    right: var(--inset-right);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-bg: #2c2c2e;
    --secondary-txt: #999;
  }

  html {
    background-color: #1c1c1e;
  }

  body,
  form input[type="text"] {
    color: #fff;
  }
}
